# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.*
*.tfstate
*.tfstate.*
terraform.tfstate.lock.info
# .terraform.lock.hcl NE legyen kizarva - rogziti a provider verziokat!

# Graphviz generalt fajlok
*.dot
*.svg

# AWS
.aws/

# OS
.DS_Store
Thumbs.db
